<div class="row">
    <div class="col-md-3 mb-5" *ngFor="let film of peliculas">
        <img class="img-fluid poster" [src]="film.poster_path | poster" (click)="detalle( film )" />
        <div>
            <h3>{{ film.title }}</h3>
            <div class="row text-white">
                <div class="col-10">
                    <star-rating 
                        [value]="film.vote_average" 
                        totalstars="10" 
                        checkedcolor="yellow" 
                        uncheckedcolor="gray" 
                        size="12px" 
                        readonly="false"></star-rating>
                        
                </div>
                <div class="col-2 text-white">
                    {{ film.vote_average | number:'1.1-2' }}
                </div>
            </div>
        </div>
    </div>
</div>